.nav{
    position: fixed;
    top: 0px;
    padding: 10px;
    width: 100%;
    height: 30px;
    z-index: 1;

    /* animation */
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.nav_contents{
    display: flex;
    justify-content: space-between;
}
.nav_black{
    background-color: #111;
}

.nav_logo{
    position: fixed;
    top: 10;
    left: 00px;
    width: 80px;
    object-fit: contain;
    padding-left: 20px;
    cursor: pointer;
}

.nav_avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    cursor: pointer;
}